source https://www.nuget.org/api/v2
nuget Autofac
nuget Akka
nuget Akka.DI.Autofac
nuget Akka.FSharp
nuget Akka.Serialization.Wire
nuget Akka.TestKit.NUnit3
nuget FSharp.Data
nuget FsPickler
nuget FsPowerPack.Community
nuget FsPowerPack.Core.Community
nuget FsPowerPack.Linq.Community
nuget Serilog
nuget Serilog.Sinks.Literate
nuget Destructurama.FSharp